@model GLH_producers.Models.Registeration

@{
    ViewBag.Title = "Register";
}

<h2>Create Account</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div>
        @Html.LabelFor(m => m.FullName)
        <br />
        @Html.TextBoxFor(m => m.FullName)
        <br />
        @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
    </div>

    <br />

    <div>
        @Html.LabelFor(m => m.Email)
        <br />
        @Html.TextBoxFor(m => m.Email)
        <br />
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <br />

    <div>
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.PasswordFor(m => m.Password)
        <br />
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
    </div>

    <br />

    <div>
        @Html.LabelFor(m => m.ConfirmPassword)
        <br />
        @Html.PasswordFor(m => m.ConfirmPassword)
        <br />
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
    </div>

    <br />

    <button type="submit">Register</button>
}

<p>
    Already have an account? @Html.ActionLink("Login here", "Login", "Account")
</p>